<img class="wave" src="assets/imagenes/img.png"/>
<div class="titulo">
  <h4>Cadena de Almacenes la Generica  </h4>
  <h3>Grupo 5</h3>
</div>
<div class="container">
  <div class="img">
    <img src="assets/imagenes/wave.svg">
  </div>
  <div class="login-container">
    <form >
      <img class="avatar" src="assets/imagenes/avatar.png" />
      <h2>Bienvenido</h2>
      <div class="input-div one ">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <h5>Usuario</h5>
          <input id="input_user" type="text" class="input" #usuario>
        </div>
      </div>

      <div class="input-div two">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div>
          <h5>Password</h5>
          <input id="input_pass" type="password" class="input" #contrase>
        </div>
      </div>
      <a href="#">Olvido su contraseña?</a> 
      <button type="button"
        class="btn btn-success" value="login" (click)="logear(usuario.value,contrase.value )" > Entrar</button>
    </form>
  </div>
</div>