<span>
    <h3>INGRESE DATOS DEL PRODUCTO</h3>
    <br>
    
    <ul><input class="form-control" type="text"  placeholder="Codigo Producto">
      <br>
      <input class="form-control" type="text"  placeholder="IVA Compra">
      <br>
      <input class="form-control" type="text"  placeholder="Nit Proveedor">
      <br>
      <input class="form-control" type="text"  placeholder="Nombre Producto">
      <br>
      <input class="form-control" type="text"  placeholder="Precio">

    </ul>
    <div  class="alert alert-success 
            animate__animated animate__backInDown" role="alert">Datos insertados correctamenta</div>
    <div  class="alert alert-danger
            animate__animated animate__pulse" role="alert">Ingrese los datos correctamenta</div>

    <button id="btn2" >INSERTAR</button>

  </span>
