
<div id="sideb" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 550px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4">Menú</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a class="nav-link text-white" aria-current="page" [routerLink]="'clientes'">Clientes</a></li>
        <li><a class="nav-link text-white" aria-current="page" [routerLink]="'producto'">Productos</a></li>
        <li><a class="nav-link text-white" aria-current="page" [routerLink]="'ventas'">Ventas</a></li>
        <li><a class="nav-link text-white" aria-current="page" [routerLink]="'usuarios'">Usuarios</a></li>
        <li><a class="nav-link text-white" aria-current="page" [routerLink]="'login'">Otros</a></li>
    </ul>
    <hr>
    <div >
      <a  class="d-flex align-items-center text-white text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/imagenes/grupo.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Grupo#5</strong>
      </a>
      

    </div>
    
  </div>