#tab{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}


#btn1{
    border-radius: 5px;
}
#btn2{
    margin-left: 50px;
    border-radius: 5px;
}
#btn3{
    margin-left: 425px;
    border-radius: 5px;
}
.pixel{
    
    background-color: gray;
    background-size: 100%;
    width: 100%;
    border-radius: 30px;
    
    
   
}
h1{
    justify-content: center;
    display: flex;
}

#btnsubir{
    margin-left: 400px;
}
ul{
    width: 400px;
}
#btn4{
    margin-left: 430px;
    border-radius: 5px;
}
#btn5{
    margin-left: 30px;
}
#btn6{
    margin-left: 5x;
}
