  <!--se da forma a la informacion convirtiendo en tabla-->
  <!--<table class="table">
    <thead class="table-dark">
      <tr>
        <th>Codigo producto</th>
        <th>Iva compra</th>
        <th>Nit proveedor</th>
        <th>Nombre producto</th>
        <th>Precio compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of ng">
        <td>{{producto.codigoproducto}}</td>
        <td>{{producto.ivacompra}}</td>
        <td>{{producto.nitproveedor}}</td>
        <td>{{producto.nombreproducto}}</td>
        <td>{{producto.preciocompra}}</td>
      </tr>
    </tbody>
  </table>
-->